name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: Ruby ${{ matrix.ruby }} / ActiveRecord ${{ matrix.active_record }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        active_record:
          - '6.0'
          - '6.1'
          - '7.0'
        ruby:
          - '2.7'
          - '3.0'
          - '3.1'
          - '3.2'
        include:
          - active_record: '5.1'
            ruby: '2.7'
          - active_record: '5.2'
            ruby: '2.7'
    env:
      ACTIVERECORD: ${{ matrix.active_record }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - run: |
        bundle exec rake test
