name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-version: ['2.3', '2.4', '2.5']
        rails-version: ['4.2.0', '5.0.0', '5.1.1', '5.2.0']
    env:
      ACTIVERECORD: ${{ matrix.rails-version }}
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Run tests
      run: bundle exec rake
